<div class="bg-image"></div>
<div class="all-box">
  <h2>
    Witaj!<br />
    Dołącz do nas!
  </h2>
  <p>Stay <span>prepared </span>with us</p>
  <form #form="ngForm" (ngSubmit)="register(form)">
    <div class="inputs">
      <input
        type="text"
        placeholder="Login"
        name="login"
        [(ngModel)]="login"
        [required]="login"
      />
      <input
        type="password"
        placeholder="Hasło"
        name="password"
        [(ngModel)]="password"
        [required]="password"
      />
      <button type="submit">Zarejestruj się</button>
    </div>
  </form>
  <p>
    Masz już konto?
    <a class="btn-add" (click)="goToLogin()">Zaloguj się</a>
  </p>
</div>
