* {
  box-sizing: border-box;
  font-size: 16px;
  color: #927383;
}
.todo-container{
  align-items: center;
  justify-items: center;
  margin: 15px;
}
h2{
  font-size: 25px;
}
.form-style{
  gap: 2px;
}
.todo-container input , select{
  vertical-align: middle;
  flex-flow: row wrap;
   padding: 10px 20px;
  background-color:#c2babac4;
  border: 2px solid #3d363cab;
  border-radius: 4px;
  color: #1e1e1e;
  font-weight: 500;
  font-size: 15px;
}
.filter{
  vertical-align: middle;
  padding: 4px 10px;
  background-color:#c2babac4;
  border: 2px solid #3d363cab;
  border-radius: 4px;
  color: #1e1e1e;
  font-weight: 500;
  font-size: 15px;
}
button[type=submit] {
  padding: 10px 20px;
  background: #896d85;
  vertical-align: middle;
  color: #1e1e1e;
  border: 2px solid #896d85;
  border-radius: 4px;
  font-weight: 500;
  font-size: 15px;
  border-radius: 4px;
  margin: 5px;
  cursor: pointer;
  text-decoration: none;
}
button[type=submit]:hover{
  background: #847382;
  color: #1e1e1e;
}
table{
  border-collapse: collapse;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  color: #927383;
}
td, tr {
  padding: 8px;
  width: 100%;
  text-align: left;
  border-bottom: 1px solid #c2baba91;
}
@media (max-width: 800px) {
  .form-style input {
    margin: 10px 0;
  }
  
  .form-style {
    flex-direction: column;
    align-items: stretch;
  }
}