<<<<<<< HEAD
/*to jest tylko tymczasowe*/
body.light {
    background-color: #ffffff;
    color: #000000;
  }
  
body.dark {
    background-color: #121212;
    color: #ffffff;
  }/*to do usuniecua ^*/
=======
>>>>>>> 32c42e4e0bdd3e09d36f595666bcf50d477a7f2a
*{
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(30,30,30) ;
}