<div class="flex-container">
  <div class="flex-item-left">
    <h2>
      Organizuj swoją pracę i życie codzienne w miejscu przyjaznym wszystkim!
    </h2>
    <br />
    <h6>
      Skorzystaj z naszej aplikacji i zapomnij o prokrastynacji dzięki
      najprzyjaźniejszej użytkownikowi aplikacji organizacyjnej.
    </h6>
    <br />
    <button class="btn-home" [routerLink]="['/signin']">Dołącz za darmo</button>
    <p class="ad-text">
      Przyłącz się do naszych zadowolonych użytkowników i poznaj magię
      organizacji
    </p>
  </div>
  <div class="flex-item-right">
    <img
      class="animol"
      src="assets/test.gif"
      alt="dancing animal"
      width="550px"
    />
  </div>
</div>
<div class="flex-item-down">
  <img src="assets/stars.png" alt="crying spiderman" width="500px" />
</div>
<div class="flex-container">
  <div class="flex-item-left">
    <p class="ad-text">Organizuj jak chcesz</p>
    <h2 class="title-under">Produktywność przede wszystkim</h2>
    <br />
    <h6>
      Kontroluj swoje plany za pomocą naszego kalendarza. Utwórz deadline
      zgodnie z tym czego potrzebujesz - pilność, data czy też ich brak. Dzięki
      naszej aplikacji nie zapomnisz tych ważnych dat jak i tych mniej pilnych
    </h6>
  </div>
  <div class="flex-item-right">
    <img src="assets/test2.gif" alt="crying spiderman" width="600px" />
  </div>
</div>
<div class="flex-container">
  <div class="flex-item-left">
    <p class="ad-text">Archiwum twoich potrzeb</p>
    <h2 class="title-under">Organizuj - Archiwizuj</h2>
    <br />
    <h6>
      Po najważniejsze dzieła sztuki po zwykłe pamiątki rodzinne. W Twojej
      galerii wybór jest Twój. Zapisuj w niej co uważasz za konieczne. Możesz
      też podzielić się swoją twórczością z innymi użytkownikami - lecz także
      zachować ją tylko dla Twóch oczu
    </h6>
  </div>
  <div class="flex-item-right">
    <img src="assets/test3.gif" alt="crying spiderman" width="600px" />
  </div>
</div>

<div class="footer">
  <div class="footer-line">
    <div class="footer-text">
      <h3>BeFreepared</h3>
      <p>
        &copy;2025 P&W BeFreepared non corporation just education :) <br />All
        rights reserved
      </p>
    </div>
  </div>
</div>
