<div class="box">
  <h2>Edytowanie</h2>
  <form (ngSubmit)="updateProfile()">
    <!-- nowe hasła -->
    <label>Nowe hasło:</label>
    <input type="password" [(ngModel)]="newPassword" name="newPassword" /><br />
    <label>Potwierdź nowe hasło:</label>
    <input
      type="password"
      [(ngModel)]="confirmPassword"
      name="confirmPassword"
    /><br />
    <p *ngIf="passwordMismatch" style="color: red">Hasła nie są zgodne</p>
    <button type="submit">Zapisz zmiany</button>
    <!-- usuwanie konta--><br />
    <div class="delete">
      <h2>Chcesz usunąć konto?</h2>
      <button class="del-btn" (click)="deleteAccount()">Usuń moje konto</button>
    </div>
    <!-- przycisk koncowy -->
  </form>
</div>
